.canvasContainer {
  position: absolute;
  z-index: 5;
  display: none;
}

.imageContainer {
  position: absolute;
  left: 30px;
  display: none;
  transform: translateY(-200px);
}
.socialsContainer {
  position: absolute;
  right: 5px;
  top: 15px;
  z-index: 10;
  .social {
    cursor: pointer;
    .socialImage {
      width: 60px !important;
      height: 60px !important;
      min-width: unset !important;
      min-height: unset !important;
    }
    &.discord {
      display: flex;
      align-items: center;
      justify-content: center;
      .discordBase {
        position: absolute;
      }
    }
  }
}
.eyesContainer {
  display: flex;
  width: 35px;
  justify-content: space-between;
  position: relative;
  .eye {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  .outerEye {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    filter: blur(15px);
    transform-origin: center;
    opacity: 0;
  }
  .innerEye {
    background: #fff;
    width: 20px;
    border-radius: 50%;
    filter: blur(5px);
    height: 20px;
    position: absolute;
    transform-origin: center;
    opacity: 0;
  }
}

.eyesTest {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 156px;
  left: 180px;
  display: flex;
  justify-content: space-between;
  width: 10px;
  height: 50px;
  position: absolute;
  top: 93px;
  left: 126px;
  display: flex;
  transform: rotate(13deg);
}

@media (min-width: 1000px) {
  .imageContainer {
    display: block;
  }
  .canvasContainer {
    display: block;
  }
}

@media (min-width: 1400px) {
  .socialsContainer {
    right: 40px;
    top: 40px;
    .social {
      cursor: pointer;
      .socialImage {
        width: 80px !important;
        height: 80px !important;
      }
      &.discord {
        margin-top: 20px;
      }
    }
  }
}
