.container {
  height: 100vh;
  width: 100vw;
  padding-bottom: 80px;
  overflow: hidden;
  background: #000;
}
.logo {
  position: absolute !important;
  top: -200px !important;
  left: 20px !important;
}
.introPageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.socialsContainer {
  position: absolute;
  right: 5px;
  top: 15px;
  z-index: 10;
  .social {
    cursor: pointer;
    .socialImage {
      width: 60px !important;
      height: 60px !important;
      min-width: unset !important;
      min-height: unset !important;
    }
    &.discord {
      display: flex;
      align-items: center;
      justify-content: center;
      .discordBase {
        position: absolute;
      }
    }
  }
}
.mobileGuide {
  position: absolute;
  top: 55vh;
}
.imageTest {
  position: absolute;
  bottom: 0;
  left: 20px;
}
.loadingAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 100vw;
  height: 100vh;
  .loadingAnimationInner {
    position: relative;
  }
  .loadingAnimationImage {
    width: 400px;
    height: auto;
    display: block;
  }
  .nftLink {
    width: 65px;
    height: 25px;
    background: #000;
    position: absolute;
    right: 0;
    bottom: -6px;
  }
}
.laserEyesContainer {
  display: flex;
  position: absolute;
  width: 50px;
  bottom: 305px;
}
.laserContainer {
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: left;
  top: 14px;
  left: 31px;
  z-index: 2;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  img {
    object-fit: cover;

    height: 100vh;
    width: 100vw;
  }
}
.eyesContainer {
  display: flex;
  width: 35px;
  justify-content: space-between;
  position: relative;
  .eye {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  .outerEye {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    filter: blur(15px);
    transform-origin: center;
    opacity: 0;
  }
  .innerEye {
    background: #fff;
    width: 20px;
    border-radius: 50%;
    filter: blur(5px);
    height: 20px;
    position: absolute;
    transform-origin: center;
    opacity: 0;
  }
}
@keyframes grow {
  to {
    width: 100px;
  }
}
.innerLine {
  height: 5px;
  width: 100%;
  background: white;
  filter: blur(1px);
  // transform: rotate(-30deg);
  transform-origin: left !important;
  position: absolute;
  bottom: 5px;
}
.canvasContainer {
  position: absolute;
  z-index: 5;
}
.outerLine {
  transform-origin: left;
  height: 15px;
  width: 100%;
  background: red;
  // transform: rotate(-30deg);
  //margin-top: 50px;
  filter: blur(16px);
}

@media (min-width: 550px) {
  .loadingAnimation {
    .loadingAnimationImage {
      width: 500px;
    }
    .nftLink {
      width: 65px;
      height: 30px;

      position: absolute;
      right: 0;
      bottom: -6px;
    }
  }
}

@media (min-width: 1400px) {
  .socialsContainer {
    right: 40px;
    top: 40px;
    .social {
      cursor: pointer;
      .socialImage {
        width: 80px !important;
        height: 80px !important;
      }
      &.discord {
        margin-top: 20px;
      }
    }
  }
}
